* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.header-total {
  height: 73px;
  display: flex;
  padding: 0px 24px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/*---------------------start img Udemy style-----------------------*/
.header-flex-px {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
}

.Udemy-img-header {
  width: 110px;
  height: 40px;
  padding-right: 8px;
}

.img {
  align-items: center;
  justify-content: center;
}

.Explore-EX-button-total-links {
  position: relative;
}

.dropdown-total-links {
  display: none;
  width: 200px;
  height: 384px;
  margin: 0px;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-width: 0;
  position: absolute;
  z-index: 10;
  border-radius: 14px;
}

.Explore-EX-button-total-links:hover .dropdown-total-links {
  display: block;
  opacity: 1;
  visibility: visible;
  max-width: 500px;
  margin: 0px;
}

.h2-Explore {
  padding: 12px;
  font-size: initial;
  line-height: 35px;
}

.a-links-in-drop-down {
  display: grid;
  line-height: 40px;
}

.a-link {
  text-decoration: none;
  color: black;
  padding: 7px;
}

#border-radiuse {
  border-radius: 1px 1px 15px 15px;
}

.a-link:hover {
  border: 1px solid rgb(220, 179, 230);
  color: rgb(220, 105, 220);
  background-color: rgb(218, 203, 232);
}

/*---------------------end img Udemy style-----------------------*/

/*---------------------start Explore style-----------------------*/

.span-Explore-total {
  margin: 18px 0px;
}

.span-Explore-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #676876;
  padding: 10px 14px;
}

.span-Explore-button:hover {
  background-color: #ede5f9;
  border-radius: 7px;
}

.span-Explore {
  text-decoration: none;
  border-radius: 6px;
  padding: 30px 20px;
  font-size: 14px;
  color: #676876;
}

.span-Explore:hover {
  color: rgb(203, 118, 242);
}
/*---------------------end Explore style-----------------------*/

/*---------------------start search box style-----------------------*/
.header-search-flex-px {
  display: flex;
  flex: 1;
}

.div-search-input {
  width: inherit;
  display: flex;
}

.search-box-total {
  display: flex;
  margin: 7.6px 5px;
  border: 1px solid;
  border-radius: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.svg-search {
  width: 20px;
  height: 22px;
}

.button-svg {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input-search-box {
  width: 100%;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  background-position: 10px 10px;
  padding: 12px 20px 12px 20px;
}

.svg-img {
  width: 20px;
  /* border: 2px solid #ccc; */
  padding: 12px;
  border-radius: 40px;
}

/*---------------------end search box style-----------------------*/

/*---------------------start buttons style-----------------------*/
.header-button-flex-px {
  display: flex;
  width: 455px;
}

.png-in-img {
  display: block;
}

.button-a-total-div {
  align-content: center;
  width: 454.444px;
}

.first-button {
  border: none;
  background-color: white;
}

.secound-button {
  border: none;
  background-color: white;
}

.third-button {
  border: none;
  background-color: white;
}

@media screen and (max-width: 750px) {
  .first-button {
    display: none;
  }
  .secound-button {
    display: none;
  }
}

.a-header1 {
  text-decoration: none;
  padding: 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: block;
  font-size: 17px;
}

.a-header1:hover {
  color: rgb(203, 118, 242);
  background-color: rgb(231, 221, 241);
}

.a-header2 {
  text-decoration: none;
  padding: 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: block;
  font-size: 17px;
}

.a-header2:hover {
  color: rgb(203, 118, 242);
  background-color: rgb(231, 221, 241);
}

.a-header3 {
  text-decoration: none;
  padding: 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: block;
  font-size: 17px;
}

.a-header3:hover {
  color: rgb(203, 118, 242);
  background-color: rgb(231, 221, 241);
}

/*---------------------end buttons style-----------------------*/

/*---------------------start png & svg style-----------------------*/

.header-img-png-flex-px {
  display: flex;
  width: 228px;
  align-items: center;
}

.png-in-img {
  display: flex;
}

.hart {
  width: 23px;
  height: 23px;
  margin-right: 15px;
  padding: 12px;
  margin-top: 1px;
}

.hart:hover {
  border: none;
  border-radius: 7px;
  background-color: rgb(231, 221, 241);
  color: rgb(203, 118, 242);
}

.shop {
  width: 23px;
  height: 23px;
  margin-right: 15px;
  padding: 12px;
  margin-top: 1px;
}

.shop:hover {
  border: none;
  border-radius: 7px;
  background-color: rgb(231, 221, 241);
  color: rgb(203, 118, 242);
}

.bell {
  width: 23px;
  height: 23px;
  margin-right: 15px;
  padding: 12px;
  margin-top: 1px;
}

.bell:hover {
  border: none;
  border-radius: 7px;
  background-color: rgb(231, 221, 241);
  color: rgb(203, 118, 242);
}

/*---------------------end png & svg style-----------------------*/

/*---------------------start profile style-----------------------*/
.porofile {
  border: 1px solid black;
  border-radius: 70px;
  width: 50px;
  height: 40px;
  background-color: black;
}

.porofile-h3 {
  text-align: center;
  padding-top: 12px;
  border-radius: 57px;
  width: 40px;
  height: 35px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 600px) {
  .png-in-img {
    display: none;
  }
  .a-total-div .a-header1 {
    display: none;
  }
}

/*---------------------end profile style-----------------------*/

/*---------------------start header-down-a-tags style-----------------------*/

.header-down-a-tags {
  display: flex;
  justify-content: center;
  position: relative;
  height: 56px;
  box-shadow: 0px 3px 5px rgb(236, 238, 239);
}

.a-header-down-a-tags {
  color: #000000;
  text-decoration: none;
}

.div-down-a-tags1 {
  position: relative;
}

.div-down-a-tags {
  padding: 15px 20px;
}

.a-header-down-a-tags:hover {
  color: rgb(203, 118, 242);
}

.div-ul-li-div-down-a-tags {
  position: absolute;
}

.ul-down-a-tags1 {
  display: none;
  background-color: black;
  color: white;
  width: max-content;
}
.ul-down-a-tags2 {
  display: none;
  background-color: black;
  color: white;
}
.ul-down-a-tags3 {
  display: none;
  background-color: black;
  color: white;
}
.ul-down-a-tags4 {
  display: none;
  background-color: black;
  color: white;
}
.ul-down-a-tags5 {
  display: none;
  background-color: black;
  color: white;
}

.div-down-a-tags1:hover .ul-down-a-tags1 {
  display: block;
  display: flex;
}

.ul-down-a-tags2 {
  display: none;
}

.div-down-a-tags2:hover .ul-down-a-tags2 {
  display: block;
  display: flex;
}

.ul-down-a-tags3 {
  display: none;
}

.div-down-a-tags3:hover .ul-down-a-tags3 {
  display: block;
  display: flex;
}

.ul-down-a-tags4 {
  display: none;
}

.div-down-a-tags4:hover .ul-down-a-tags4 {
  display: block;
  display: flex;
}

.ul-down-a-tags5 {
  display: none;
}

.div-down-a-tags5:hover .ul-down-a-tags5 {
  display: block;
  display: flex;
}

.a-header-down-a-tags {
  padding-left: 30px;
}

.div-down-a-tags1 {
  align-self: center;
}
.div-down-a-tags2 {
  align-self: center;
}
.div-down-a-tags3 {
  align-self: center;
}
.div-down-a-tags4 {
  align-self: center;
}
.div-down-a-tags5 {
  align-self: center;
}

li {
  align-self: center;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
}

.ul-down-a-tags1 {
  margin-top: 21px;
}
.ul-down-a-tags2 {
  margin-top: 21px;
}
.ul-down-a-tags3 {
  margin-top: 21px;
}
.ul-down-a-tags4 {
  margin-top: 21px;
}
.ul-down-a-tags5 {
  margin-top: 21px;
}

.ul-down-a-tags1 li {
  list-style-type: none;
}
.ul-down-a-tags2 li {
  list-style-type: none;
}
.ul-down-a-tags3 li {
  list-style-type: none;
}
.ul-down-a-tags4 li {
  list-style-type: none;
}
.ul-down-a-tags5 li {
  list-style-type: none;
}

li:hover {
  color: rgb(203, 118, 242);
}
/*---------------------end header-down-a-tags style-----------------------*/

/*---------------------start porofile under the header style-----------------------*/

.div-prof-total {
  height: 128px;
  display: flex;
  padding: 30px 63px;
  align-items: center;
}

.total-h2-prof-a {
  display: block;
  padding-left: 30px;
  line-height: 40px;
}

.h1-prof {
  width: 80px;
  height: 80px;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  text-align: center;
}

.div-prof {
  border: 1px solid;
  border-radius: 100px;
  background-color: black;
}

.h2-prof {
  font-size: 35px;
}

.prof-a {
  color: #6d28d2;
  text-decoration: underline;
  font-size: 16px;
}

/*---------------------end porofile under the header style-----------------------*/

/*---------------------start img banner header style-----------------------*/

.img-banner-total {
  position: relative;
}

.img-banner-total img {
  width: 96%;
  margin: 22px;
}

.h1-p {
  width: 362px;
  height: 227px;
  position: absolute;
  top: 200px;
  left: 340px;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  background-color: white;
  font-weight: 400;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(6, 17, 118, 0.08),
    0 4px 12px rgba(6, 17, 118, 0.08);
}

.h1-img-banner-text {
  font-size: 35px;
  font-family: SuisseWorks, Vazirmatn, Georgia, Times, "Times New Roman", serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
  line-height: 59px;
  color: rgb(42, 43, 63);
  font-size: 47px;
  width: 316px;
}

.p-banner {
  width: 333px;
  line-height: 42px;
  font-size: 19px;
}

.a-banner {
  color: rgb(138, 21, 153);
  text-decoration: underline;
}

/*---------------------end img banner header style-----------------------*/

/*---------------------start black texet button style-----------------------*/

.h1-h2-total {
  border: 1px solid;
  width: 87%;
  margin-left: 61px;
  display: flex;
  background-color: black;
  color: white;
  padding: 35px 20px;
  border-radius: 15px;
}

.h1-total {
  font-size: 25px;
}

.div-h2-total {
  padding-left: 8px;
  font-size: 20px;
  padding-top: 4px;
}

.button1-h1-h2-total {
  width: 198px;
  padding: 15px;
  border-radius: 7px;
  border: none;
  background-color: white;
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.h1-h2-total {
  align-items: center;
}

.button2-h1-h2-total {
  padding: 15px;
  border-radius: 7px;
  border: none;
  background-color: black;
  color: white;
  border: 1px solid;
  margin-left: 30px;
  font-size: 18px;
  cursor: pointer;
}

.button-divs {
  width: 324px;
  display: flex;
  margin-left: auto;
}
/*---------------------end black texet button style-----------------------*/

/*---------------------start text subject style-----------------------*/

.subject-h1 {
  font-size: 41px;
  margin-top: 61px;
  margin-bottom: 50px;
  margin-left: 62px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #2a2b3f;
}

.TOTAL-h1-link-subject {
  margin-left: 21px;
}

.h1-link-subject {
  font-size: 32px;
  margin-bottom: 15px;
}

.products-container {
  margin-left: 56px;
}
.link-subject {
  color: rgb(96, 22, 145);
  font-size: 31px;
}

/*---------------------end text subject style-----------------------*/

/*---------------------start video price style-----------------------*/
.div-svg-5 {
  width: 60px;
  display: flex;
}

.div-h5 {
  width: 20px;
}

.subject-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 20px;
}

.rating-row {
  display: flex;
  align-items: center;
}

.img-subject img {
  width: 230px;
}

.img-subgect-total {
  width: calc(20% - 20px);
  display: inline-block;
  margin: 8px;
  vertical-align: top;
  box-sizing: border-box;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px 0px 0px 58px;
}

.p-subject {
  color: rgb(136, 140, 146);
  line-height: 32px;
}

.h3-subject {
  line-height: 15px;
  font-size: 16px;
}

.h3-div-subject {
  display: block;
  font-size: larger;
}

.div-modal6-h1 {
  margin-left: 10px;
  width: 100%;
  clear: both;
}
.modal6-h1 {
  font-size: 32px;
  margin-left: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* start modal */

#myImg {
  border-radius: 1px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1200px) {
  .img-subgect-total {
    width: calc(25% - 20px);
  }
}

@media only screen and (max-width: 900px) {
  .img-subgect-total {
    width: calc(33.333% - 20px); /* 3 آیتم در هر ردیف برای صفحه‌های کوچک */
  }
}

@media only screen and (max-width: 700px) {
  .img-subgect-total {
    width: calc(50% - 20px); /* 2 آیتم در هر ردیف برای موبایل */
  }

  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .img-subgect-total {
    width: 100%; /* 1 آیتم در هر ردیف برای موبایل‌های خیلی کوچک */
  }
}
/* end modal */

/*---------------------end video price style-----------------------*/

/*---------------------start div-div-div-button-products-container style-----------------------*/

.div-div-div-button-products-container {
  width: 100%;
  height: 50px;
}
.div-div-button-products-container {
  display: flex;
  margin: 10px;
  width: 1030px;
}

.button-products-container {
  padding: 10px;
  border: none;
  background-color: white;
  color: black;
}

.button-products-container:hover {
  color: rgb(138, 21, 153);
}

/*---------------------start div-div-div-button-products-container style-----------------------*/

/*---------------------start table tr td style-----------------------*/

.td {
  border: 1px solid;
  padding: 30px 76px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.table-tr-td-h1 {
  margin: 0px 0px 20px 0px;
  border-spacing: 20px;
}

.div-table-tr-td-h1 {
  justify-items: center;
}

.div-h1-table {
  margin-left: 65px;
  margin-bottom: 0px;
  margin-top: 21px;
}

.h1-table {
  font-size: 27px;
}

.td:hover {
  background-color: rgb(244, 242, 242);
}

/*---------------------end table tr td style-----------------------*/

/*--------------------start footer style-----------------------*/

.div-continue-footer {
  background-color: #2a2b3f;
  color: white;
}

.h1-footer {
  font-size: 20px;
}

.h1-footer2 {
  font-size: 20px;
  margin-top: 14px;
}

.p-footer {
  font-size: 15px;
}

.button-foter {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 18px;
  font-size: 16px;
}
.button-foter:hover {
  background-color: rgba(215, 211, 211, 0.2);
}

.div-total-h1-p-button {
  display: flex;
  justify-content: center;
}

.div-continue-footer {
  height: 100px;
}

.div-h1-footer {
  align-self: center;
  margin-top: 22px;
  margin-left: 52px;
  line-height: 33px;
}

.div-footer-button {
  margin-left: auto;
  margin-top: 21px;
  margin-right: 66px;
}

.div-footer-svg {
  margin-left: auto;
  margin-top: 32px;
  margin-right: 30px;
  justify-content: space-around;
}

.div-footer-svg1 {
  padding: 0px 20px;
}

.a-footer {
  color: #c0c4fc;
  font-size: inherit;
}

.footer-h1-ul-li-total {
  background-color: #2a2b3f;
}

.cuntinue-div-footer-h1-ul-li {
  width: 282px;
  height: 250px;
  margin: 12px 47px;
  display: inline-flex;
}

.h1-ul-li {
  font-size: 23px;
  margin-top: 60px;
  margin-left: 50px;
  color: white;
}

footer {
  background-color: #2a2b3f;
}

.footert-div-ul {
  font-size: 20px;
  font-weight: 700;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: white;
}

.ul-li {
  list-style-type: none;
  line-height: 10px;
}

a {
  color: white;
}

.li-footer:hover {
  text-decoration: underline;
}

.footer-under {
  background-color: #202230;
}

.Udemy-img-footer {
  width: 91px;
}

.svg-footer-under-first {
  display: flex;
}

.svg-footer-under {
  width: 25px;
}

.svg-footer-under {
  margin-left: auto;
  padding: 20px 0px;
}

.footer-h2 {
  padding-left: 2px;
  padding-top: 20px;
  padding-right: 30px;
}

.svg-footer-under-first {
  display: flex;
}

.first-footer {
  display: flex;
  margin-left: 30px;
}

.div-footer-under {
  margin-top: 30px;
}

.div-2025 {
  margin-top: 30px;
  margin-left: 30px;
}
/*---------------------end footer style-----------------------*/
